{% extends "customer/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <body>
        <div class="container">
            <div class="left">
                <h1 style="color: black; font-size: 3rem;">Welcome Back, {{ customer.first_name }}</h1>
                <hr/>
            </div>
            <div class="right">
                <p style="color: darkgray; font-size: larger;">Current balance: ${{ customer.balance }}</p>
            </div>
        </div>
    </body>
</div>
<div>
<h2 style="padding-left: 10px;">Available scooters:</h2>
    <div style="height: 300px; overflow-y: auto;">
        <table>
            <thead>
                <tr>
                    <th>Scooter</th>
                    <th>Make</th>
                    <th>Colour</th>
                    <th>Location</th>
                    <th>Remaining Power</th>
                    <th>Cost Per Time</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                {% for scooter in scooters %}
                <tr>
                    <td>{{ scooter.id }}</td>
                    <td>{{ scooter.make }}</td>
                    <td>Colour...</td>
                    <td>Location...</td>
                    <td>{{ scooter.remaining_power }}%</td>
                    <td>${{ scooter.cost_per_time }}</td>
                    <td>Book now!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>History:</h2>
        <div style="height: 300px; overflow-y: auto;">
            <table>
                <thead>
                    <th>Scooter</th>
                    <th>Time</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <td>{{ booking.scooter_id }}</td>
                    <td>{{ booking.time }}</td>
                    <td>{{ booking.status }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}







