<li class="nav-item">
    <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#manageScootersDropdown" style="text-align: left; width: 100%; font-size: 1.25rem; color: white; margin-top: 0.75rem;">
        <i class="fa-solid fa-motorcycle" style="margin-right: 1rem;"></i> Scooters
    </a>
    <div class="collapse show" id="manageScootersDropdown">
        <ul class="nav flex-column" style="margin-left: 3rem;">
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_for('admin.confirm_reports') %}active{% endif %}" href="{{ url_for('admin.confirm_reports') }}">Manage Scooters</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_for('admin.bookings') %}active{% endif %}" href="{{ url_for('admin.bookings') }}">View Booking History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_for('admin.scooter_usage') %}active{% endif %}" href="{{ url_for('admin.home') }}">View Usage History</a>
            </li>
        </ul>
    </div>
</li>