{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>



</style>
<div style="width:90%; margin:0 auto; text-align:left">
    <h1 style="color:black; font-size:3rem">Welcome Back</h1>
    <hr/>
    <div style="margin-top: 2rem">
        <h3>All Customers</h3>
        <table class="custom-table">
            <thead class="custom-thead">
                <th class="custom-th">First name</th>
                <th class="custom-th">Last name</th>
                <th class="custom-th">Phone</th>
                <th class="custom-th">Email</th>
                <th class="custom-th">Balance</th>
                <th class="custom-th">Edit</th>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td class="custom-td">{{ customer.first_name }}</td>
                    <td class="custom-td">{{ customer.last_name }}</td>
                    <td class="custom-td">{{ customer.phone_number }}</td>
                    <td class="custom-td">{{ customer.email }}</td>
                    <td class="custom-td">{{ customer.balance }}</td>
                    <td class="custom-td">
                        <a href="{{ url_for('admin.edit_customer', user_id=customer.id) }}" class="btn btn-outline-secondary">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <a href="{{ url_for('admin.delete_customer', user_id=customer.id ) }}" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    <div style="margin-top: 2rem">
        <h3>All Scooters:</h3>
        <table class="custom-table">
            <thead class="custom-thead">
                <th class="custom-th">ID</th>
                <th class="custom-th">Make</th>
                <th class="custom-th">Colour</th>
                <th class="custom-th">Location</th>
                <th class="custom-th">Charge</th>
                <th class="custom-th">Cost</th>
                <th class="custom-th">Status</th>
                <th class="custom-th">Edit</th>
            </thead>
            <tbody>
                {% for scooter in scooters %}
                <tr>
                    <td class="custom-td">{{ scooter.scooter_id }}</td>
                    <td class="custom-td">{{ scooter.make }}</td>
                    <td class="custom-td">{{ scooter.colour }}</td>
                    <td class="custom-td">{{ scooter.location }}</td>
                    <td class="custom-td">{{ scooter.remaining_power }}%</td>
                    <td class="custom-td">${{ scooter.cost_per_time }}</td>
                    {% if scooter.status == 'occupying' %}
                    <td class="status custom-td" style="color: orange;">{{ scooter.status }}</td>
                    {% elif scooter.status == 'available' %}
                    <td class="status custom-td" style="color: green;">{{ scooter.status }}</td>
                    {% elif scooter.status == 'awaiting repair' %}
                    <td class="status custom-td" style="color: red;">{{ scooter.status }}</td>
                    {% elif scooter.status == 'pending' %}
                    <td class="status custom-td" style="color: blue;">{{ scooter.status }}</td>
                    {% endif %}
                    <td class="custom-td">
                        <a href="{{ url_for('admin.edit_scooter', scooter_id=scooter.scooter_id ) }}" class="btn btn-outline-secondary">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <a href="{{ url_for('admin.delete_scooter', scooter_id=scooter.scooter_id ) }}" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="8" class="text-center custom-td">
                        <a href="{{ url_for('admin.add_scooter') }}" class="btn btn-outline-success" style="width:8rem"><i class="fa fa-plus"></i></a>
                    </td>
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}







