{% extends "engineer/base.html" %}

{% block title %}Engineer Home{% endblock %}

{% block content %}
    <h2>Scooter Locations:</h2>
    <div id="gmp-map"></div>
    <br>
    
    <table class="table table-bordered table-hover" style="width:95%; margin: 0 auto;">
        <thead>
            <tr class="table-dark">
                <th scope="col">Scooter ID</th>
                <th scope="col">Make</th>
                <th scope="col">Status</th>
                <th scope="col">Power</th>
                <th scropt="col">Report</th>
                <th scope="col" style='text-align:center'>Location</th>
                <th scope="col" style='text-align:center'>Directions</th>
            </tr>
        </thead>
        <tbody>
            {% if scooter_data %}
                {% for scooter in scooter_data %}
                    <tr class='clickable-row' data-latitude="{{ scooter.latitude }}" data-longitude="{{ scooter.longitude }}">
                        <td>{{ scooter.scooter_id }}</td>
                        <td>{{ scooter.make }}</td>
                        <td>{{ scooter.scooter_status }}</td> 
                        <td>{{ scooter.remaining_power }}%</td>
                        <td>{{ scooter.repair_report }}
                        <td style='text-align:center'>
                            <button class="btn btn-outline-secondary locate-button" style='width:4rem'>
                                <i class="fa fa-location-dot"></i>
                            </button>
                        </td>
                        <td style='text-align:center'>
                            <button class="btn btn-outline-secondary direction-button" style='width:4rem' onclick="calculateAndDisplayRoute({{ scooter.latitude }}, {{ scooter.latitude }})">
                                <i class="fa fa-location-dot"></i>
                            </button>
                        </td>
                    
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No scooter data available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
