<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Login</title> 
    </head>
    <body style="background-color: #222831">
        <div class="main-section">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 login-container shadow">
                    <div class="form-container">
                    <h1 class="display-4 login-header">Welcome Back</h1>
                    <form method="POST" action="{{ url_for('user.signup_post') }}">
                        <div class="form-group">
                            <input class="form-control login-form-control" id="username" name="username" placeholder="Username" value="" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control login-form-control" id="email" name="email" placeholder="Email Address" value="" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control login-form-control" id="password" name="password" type="password" placeholder="Enter Password" value="" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control login-form-control" id="first_name" name="first_name" placeholder="First Name" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control login-form-control" id="last_name" name="last_name" placeholder="Last Name" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control login-form-control" id="phone_number" name="phone_number" placeholder="Phone Number" value="">
                        </div>
                        <div class="form-group">
                            <label for="role">Select Role:</label>
                            <select class="form-control login-form-control" id="role" name="role">
                                <option value="customer">Customer</option>
                                <option value="engineer">Engineer</option>
                            </select>
                        </div>
                        {% with error_message = get_flashed_messages(category_filter=['signup_error']) %}
                            {% if error_message %}
                                <span class="error error-message">{{ error_message[0]  }}</span>
                                <br>
                            {% endif %}
                        {% endwith %}
                        <button class="btn btn-primary button-custom shadow" type="submit">Signup</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>