<h2 style="margin: 2rem 0 0 3rem">Engineer Portal</h2>
<hr style="border-top: 1px solid #fff;">
<div class="sidebar-link-container">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {% if request.path == url_for('user.engineer_home') %}active{% endif %}" href="{{ url_for('user.engineer_home') }}" style="font-size: 1.25rem; color: white;">
                <i class="fa-solid fa-house" style="margin-right: 1rem;"></i> Home
            </a>
        </li>
    </ul>
</div>